body {
    font-family: "Open Sans", sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    text-align: center;
    background-color: #134942;
    color: #FFFFFF;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
div {
    display: flex; 
    gap: 10px;
}
form {
    max-width: 90%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #ebe5ea;
    width: 100%;
    box-sizing: border-box;
}

footer {
    background-color: #440c33;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    margin-left: 0;
}

input, select, textarea {
    width: calc(100% - 16px);
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

textarea {
    height: 150px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

fieldset {
    border: none;
    margin-bottom: 15px;
    padding: 0;
}

.features label {
    display: inline;
    margin-left: 5px;
}

.features input[type="checkbox"] {
    margin-right: 20px;
}

.rev-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    color: #333;
}

.rev-view h1 {
    margin-bottom: 20px;
}

.rev-view p {
    margin-bottom: 30px;
}

.rev-view button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.rev-view button:hover {
    background-color: #eee;
}